# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python

name: Python application

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read

jobs:
  pyinstaller-build:
    strategy:
      matrix:
        os: [windows-latest,  ubuntu-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Create Executable
        uses: sayyid5416/pyinstaller@v1
        with:
          python_ver: '3.12'
          spec: 'app.py'
          requirements: 'requirements.txt'
          upload_exe_with_name: 'OLED_Refresher_${{ matrix.os }}'
          options: --onefile, --name "OLED Refresher", --windowed, 
